# Güvenlik
secret.key
cookie_encrypted.dat
cookie_log.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# EXE
build/
dist/
OBS_Takip.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db